@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");

/* =========== Font ===========  */

/* =========== Global Styles ===========  */

:root {
  --primary-color: #215C5C;
  --primary-hover-color: #043849;
  --text-p-color: #5f616f;
  --text-color: #000;
  --body: #fff;
}

body.dark {
  --primary-color: #215C5C;
  --primary-hover-color: #267c98;
  --text-p-color: #9395a1;
  --text-color: #fff;
  --body: #282626;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--text-p-color);
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

body,
header {
  font-family: sans-serif;
  background-color: var(--body);
}

p,
li a {
  color: var(--text-p-color);
}
h2 , h6 ,.contact{
color: var(--text-color);
}
/* =========== Buttons ===========  */
.color {
  background-color: var(--primary-color);
  color: white;
}
button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--primary-hover-color);
  color: white;
}
.button {
  color: var(--primary-color);
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  color: var(--primary-hover-color);
  background-color: white;
}

/* 
<!-- Variant	Media query
max-sm	@media (width < 40rem) { ... }
max-md	@media (width < 48rem) { ... }
max-lg	@media (width < 64rem) { ... }
max-xl	@media (width < 80rem) { ... }
max-2xl	@media (width < 96rem) { ... } -->

<!-- 
Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... } --> */

/* 
w-3xs 16rem (256px) 
w-2xs 18rem (288px) 
w-xs  20rem (320px) 
w-sm  24rem (384px) 
w-md  28rem (448px) 
w-lg 32rem (512px) 
w-xl 36rem (576px) 
w-2xl  42rem (672px) 
w-3xl  48rem (768px) 
w-4xl  56rem (896px) 
w-5xl  64rem (1024px) 
w-6xl 72rem (1152px) 
w-7xl 80rem (1280px) */
